.env
__pycache__/
*.pyc
venv/
.venv/

output/*
!output/.gitkeep
logs/*
!logs/.gitkeep
state/*
!state/.gitkeep

client_secrets.json

assets/backgrounds/*
!assets/backgrounds/.gitkeep
assets/fonts/*
!assets/fonts/.gitkeep
assets/thumb_template.png
